@media only screen and (max-width: 1240px) {
	.col1,.col2,.col3{
		width: 95% !important;
	}
	.col1,.col3{
		height: auto !important;
	}
}
.header{
            float: left;
			width: 98%;
			padding: 10px;
			height:40px;
			border: medium solid #000000;
			border-radius: 20%;
			margin: 1px;
        }
        .col1{
            float: left;
            width: 24%;
            padding: 10px;
            height: 600px;
            border: medium solid black;
			border-radius: 2%;
            margin: 1px;
			overflow: auto;
        }
        .col2{
                float: left;
				width: 45%;
				padding: 10px;
				height: 600px;
				border: medium solid black;
				border-radius: 2%;
				margin: 1px;
				overflow: auto;
        }

        .col3{
			float: left;
            width: 24%;
            padding: 10px;
            height: 600px;
            border: medium solid black;
			border-radius: 2%;
            margin: 1px;
			overflow: auto;
        }
		.texts
		{
			font-family:sans-serif;
			font-size:15px;
		}
		.f input[type="Submit"],input[type="button"]{
			background-color: #4CAF50;
			border:3px solid black;
			border-radius:15px;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			width:120px;
		}
		.f input[type="Submit"]:hover,input[type="button"]:hover{
			background-color:rgba(105,105,105,.3);
		}
		.t{
			color:red;
			font-size:14px;
		}
.back
{
background-color:rgba(105,105,105,.3);
font-size:20px;
margin-left:7px;
margin-right:7px;
border:3px solid black;
font-weight: 600;

}
.p
{
margin-left:20px;
color: darkgreen;
}
.colr
{
color: red;
margin-left:20px;
}

table {
  width: 80%;
  
  
}

td {
  height: 50px;
}
.texta
{
		text-align:left;
		font-weight:600;
}
.hum1{
	color: blue;
	font-weight: 500;
}
.hum{
	font-weight: bold;
}

